body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: url("https://www.toopic.cn/public/uploads/small/163420343597163420343525.jpg") no-repeat;
    background-position: center;
    background-size: 1920px 1080px;
}
.header{
    height: 40px;
    width: 900px;
    border-radius: 30px;
    background: rgba(250,250,250,0.3);
    text-align: center;
    color: pink;
    font-size: 25px;
}

.header :hover{

}
.main{
    width: 450px;
    height: 600px;
    background: rgba(250,250,250,0.3);
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 20px 50px #000;
    position: absolute;
    top: 150px;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width:100%;
    height: 100%;
}
label{
    color: pink;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: rgba(250,250,250,0.3);
    margin-left: 90px;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 25px;
}
input:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
button{
    width: 65%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: rgba(250,250,250,0.3);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    transition: .2s ease-in;
    cursor: pointer;

}
button:hover{
    background: rgba(250,150,250,0.3);
    transition: all 0.3s;
    transform: scale(1.2);
}
.login{
    height: 460px;
    background: pink;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: white;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
